# Izinkan akses hanya untuk file dengan ekstensi .html atau .htm
<FilesMatch "\.(html|htm)$">
    Require all granted
</FilesMatch>

# Blokir akses ke file dengan ekstensi lain seperti .js, .css, .json, .xml, .php, dll.
<FilesMatch "\.(js|css|json|xml|php|cgi|pl|py|sh)$">
    Require all denied
</FilesMatch>
